@page "/vybaveni"
@using Ppt23.Client.Components
@using Ppt.Shared
@inject HttpClient Http

<h1 class="text-3xl font-bold mb-4">Vybaveni Nemocnice</h1>

<div class="container mx-auto bg-neutral-200 p-4 px-4 py-4">
    <div class="text-lg font-semibold mb-2">Number of Equipment: @listEquipment?.Count</div>
    <button class="bg-teal-700 hover:bg-teal-500 text-white font-bold py-2 px-4 rounded mb-3" @onclick="OnInitializedAsync">New List</button>
    <div class=" bg-green-200 grid grid-cols-5 gap-2 py-1 px-2">
        <div class="font-bold text-sm ml-2">Name</div>
        <div class="font-bold text-sm text-center">Bought Date</div>
        <div class="font-bold text-sm text-center">Last Revision Date</div>
        <div class="font-bold text-sm text-center">Revision Needed</div>
        <div></div>
    </div>

    @foreach (var equipment in listEquipment)
    {
        
        
        <div class="col-span-5">
            <VybaveRow Vyb="@equipment" OnDelete="() => DeleteEquipment(equipment)" OnPerformRevision="() => performRevision(equipment)" />
        </div>
    }

</div>

@code {

    List<Ppt.Shared.VybaveniVm>? listEquipment = new List<Ppt.Shared.VybaveniVm>();

    private async Task performRevision(VybaveniVm equipment)

    {
        equipment.LastRevisionDateTime = DateTime.Now;
        equipment.isRevisionNeeded = !equipment.isRevisionNeeded;

        await UpdateEquipment(equipment);

        
    }
    private async Task UpdateEquipment(VybaveniVm updatedEquipment)
    {
        HttpResponseMessage response = await Http.PutAsJsonAsync($"vybaveni/{updatedEquipment.Id}", updatedEquipment);

        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Item updated successfully.");
        }
        else
        {
            Console.WriteLine("Failed to update item. Please refresh the page.");
        }
    }
    private async Task DeleteEquipment(VybaveniVm equipment)
    {
        HttpResponseMessage response = await Http.DeleteAsync($"vybaveni/{equipment.Id}");

        if (response.IsSuccessStatusCode)
        {
            listEquipment.Remove(equipment);
            Console.WriteLine("Item deleted successfully.");
        }
        else
        {
            Console.WriteLine("Failed to delete item. Please refresh the page.");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        listEquipment = await Http.GetFromJsonAsync<List<Ppt.Shared.VybaveniVm>>("vybaveni");
    }

}