{% extends "base.html" %}

{% block content %}
<h1>Welcome to the ER Equipment Inventory System</h1>
<h2>List of Available Equipment:</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>
    </thead>
    <tbody>
    {% for equipment in equipments %}
        <tr>
            <td>{{ equipment.name }}</td>
            <td>{{ equipment.quantity }}</td>
            <td>{{ equipment.description }}</td>
            <td>{{ equipment.date_added }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('add') }}">Add New Equipment</a>

{% endblock %}
